@require(subOfTheDay, changeLog)
<form class="pure-g search" action="@{ url_for('do.search') }" method="post">
  <div class="icon" data-icon="search"> </div>
  <input aria-label="Search" name="term" placeholder="@{_('Title search...')}" type="search" class="pure-u-1">
</form>

@if current_user.is_authenticated:
@if config['site'].front_page_submit:
<a href="@{url_for('subs.submit', ptype='link', sub='')}" class="sbm-post pure-button">@{_('Submit a post')}</a>
<hr>
@end
<a href="@{url_for('home.view_subs')}" class="sbm-post pure-button">@{_('View all subs')}</a>
<a href="@{url_for('subs.random_sub')}" class="sbm-post pure-button">@{_('Go to random sub')}</a>
@end
@if (config.site.sub_creation_admin_only == False and current_user.is_authenticated) or current_user.is_admin():
<a href="@{url_for('subs.create_sub')}" class="sbm-post pure-button">@{_('Create a sub')}</a>
@end

@if func.getTodaysTopPosts():
  <hr/>
  <div class="sidebarlists">
    <h4 class="center">@{_('Top posts in the last 24 hours')}</h4>
    <ul class="top5">
      @for post in func.getTodaysTopPosts():
        <li>
          @if config.site.top_posts.show_score:
            <span class="sidescore">@{post['score']} </span>
          @end
          <a class="title @{post['blur']}" href="@{url_for('sub.view_post', sub=post['sub'], pid=post['pid'])}">@{post['title']}</a>
          @if post['nsfw'] or post['sub_nsfw']:
            <span class="nsfw" alt="Not safe for work">@{_('NSFW')}</span>
          @endif
          <div class="sidelocale">
            @{_("%(timeago)s in %(sub)s", timeago='<time-ago datetime="' + post['posted'].isoformat() + 'Z"></time-ago>', sub='<a href="' + url_for('sub.view_sub', sub=post['sub']) + '">/' + config.site.sub_prefix + '/' + post['sub'] + '</a>') !!html}
          </div>
        </li>
      @end
    </ul>
  </div>
@end

@if config.site.recent_activity.enabled:
  <hr/>
  <div class="sidebarlists">
    <h4 class="center"><a href="/activity">@{_('Recent activity')}</a></h4>
    <ul class="top5" id="activity_list_sidebar">
      @for post in func.recent_activity(True):
        <li>
          @if post['type'] == 'comment':
            @{_('%(user)s commented: %(text)s', user='<a href="/u/' + post['user'] + '">' + post['user'] + '</a>', text='<a class="title ' + post['blur'] + '" href="' + url_for('sub.view_post', sub=post['sub'], pid=post['pid']) + '">' + e(func.word_truncate(''.join(BeautifulSoup(markdown(post['content']), features='lxml').findAll(text=True)).replace('\n', ' '), 150)) + '</a>')!!html}
          @else:
            @{_('%(user)s posted: %(text)s', user='<a href="/u/' + post['user'] + '">' + post['user'] + '</a>', text='<a class="title ' + post['blur'] + '" href="' + url_for('sub.view_post', sub=post['sub'], pid=post['pid']) + '">' + e(func.word_truncate(post['content'], 150)) + '</a>')!!html}
          @end
          @if post['nsfw'] or post['sub_nsfw']:
            <span class="nsfw smaller" alt="Not safe for work">@{_('NSFW')}</span>
          @endif
          <div class="sidelocale">
            @{_("%(timeago)s in %(sub)s", timeago='<time-ago datetime="' + post['time'].isoformat() + 'Z"></time-ago>', sub='<a href="' + url_for('sub.view_sub', sub=post['sub']) + '">/' + config.site.sub_prefix + '/' + post['sub'] + '</a>') !!html}
          </div>
        </li>
      @end
    </ul>
  </div>
@end

@if subOfTheDay:
  <hr>
  <div class="sidebarlists">
    <h4 class="center">@{_('Sub of the day')}</h4>
    <ul>
      <li><a href="@{url_for('sub.view_sub', sub=subOfTheDay.name)}">/@{config.site.sub_prefix}/@{subOfTheDay.name}</a>
        <div class="sidelocale">@{subOfTheDay.title}</div></li>
    </ul>
  </div>
@end
@if changeLog:
  <hr>
  <div class="sidebarlists">
    <ul>
      <li><a class="title" href="@{url_for('sub.view_post', sub=changeLog['sub'], pid=changeLog['pid'])}">@{changeLog['title']}</a><br>
      <span class="sidelocale">
        @{_("%(timeago)s in %(sub)s", timeago='<time-ago datetime="' + changeLog['posted'].isoformat() + 'Z"></time-ago>', sub='<a href="' + url_for('sub.view_sub', sub=changeLog['sub']) + '">/' + config.site.sub_prefix + '/' + changeLog['sub'] + '</a>') !!html}
      </span>
    </ul>
  </div>
@end
@if current_user.is_authenticated and (config.site.sitelog_public or current_user.can_admin):
<hr>
<a href="@{url_for('site.view_sitelog')}" class="sbm-post pure-button">@{_('Site logs')}</a>
@end
@if current_user.is_authenticated and config.site.funding_goal > 0:
<hr>
<h4 class="center">@{_('Funding Goal')}</h4>
<div class="throat-fe-wrapper">
  <iframe id="funding" src="/donate/funding_progress" scrolling="no" frameBorder="0" style="height: 100px;" name="fundingGoal" title="funding goal"></iframe>
</div>
<a href="/donate" class="sbm-post pure-button">@{_('Donate')}</a>
@end
